# Ignore common video files everywhere in the repo (all subfolders)
# This helps keep large media files out of version control.
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.m4v
*.mpeg
*.mpg
*.3gp
*.ogv
*.mts
*.ts
*.vob
*.m2ts
*.m2v
*.qt
*.asf
*.rmvb
*.divx
*.xvid
*.svi
*.f4v
*.exe
2/materijali/drive unzipped/SAU/octave-8.1.0-w64-installer.exe
2/materijali/flash/MISS/Usmeni/MISS skripta.pdf

*.o
*.layout
*.out
*.bin
*.elf
*.obj
*.lib
*.a
*.so
*.dll
*.class
*.jar
*.exe
./vscode/
.vscode/

*.qpf
*.qsf
*.qws
*.bak
*.rpt
*.qdf
*.ini
*.qsf
*.qws
*.rpt
*.cbp

2/opk/

simulation/
work/
output_files/
db/
incremental_db/
.vs/